# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
.pnpm-store/

# Amplify
.amplify/
amplify*

# Production
/build
dist/

# Misc
.DS_Store
.envrc
**.sample

# Backup by my own convention 
*__bak__ 
__bak__*
**/__bak__helpers/
/__bak__helpers/

# Local env files
.env*.local
.env

# Secrets
**/.secret-*
**/*.pem

# Local Apollo config 
apollo.config.js

# Local GraphQL config
.graphqlrc.yaml

# Vscode
.vscode/ 
!.vscode/launch.json
ai-portfolio-frontend.code-workspace

# Production data for upload
/production-data/
