# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
.pnpm-store/

# Amplify
.amplify/
amplify*

# Production
/build

# Misc
.DS_Store
*.pem
.envrc

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Secrets
**/.secret-*
**/*.pem

# Local Apollo config 
apollo.config.js

# Vscode
.vscode/ 
!.vscode/launch.json
ai-portfolio-frontend.code-workspace