# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
.pnpm-store/

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
.envrc

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# Amplify
.amplify
amplify_outputs*
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
dist/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.*
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample

# Local GraphQL config
.graphqlrc.yaml

# Local Apollo config 
apollo.config.js

# Vscode
.vscode/ 
!.vscode/launch.json
ai-portfolio-frontend.code-workspace
