AWS_ACCOUNT_ID=<your-aws-account-id>
AWS_ADMIN_ARN=arn:aws:iam::<your-aws-account-id>:user/<your-iam-username>
AWS_REGION_DEFAULT=<aws-region>
AWS_REGION_DISTRIB=<aws-region>
BEDROCK_MODEL_ID=<bedrock-model-id>
CDK_DEFAULT_ACCOUNT=<your-aws-account-id>
CDK_DEFAULT_REGION=<aws-region>
DEVELOPER_TABLE_NAME=<developer-table-name>
GITHUB_OWNER=<your-github-username>
GITHUB_REPO=<your-repo-name>
PROJECTS_TABLE_NAME=<projects-table-name>
RECRUITER_PROFILES_TABLE_NAME=<recruiter-profiles-table-name>
VISITOR_TABLE_NAME=<visitor-table-name>